@media only screen and (max-width: 500px) {
  .login__button {
    width: 40% !important;
  }
  .search__field {
    width: 30% !important;
  }
  .login__container,
  .stock__container {
    border: none !important;
  }
  .title {
    font-size: 20px;
  }
  .search__logo {
    height: 30px !important;
    width: 30px !important;
  }
  .stock__price {
    font-size: 15px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

.body__wrapper {
  background-color: black;
}

.light-mode {
  background-color: white;
}

.title {
  color: #f8c1a3;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn:hover {
  background-color: #3e8e41;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.stock__price {
  color: #f8c1a3;
}

.login__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  border: 10px solid #f8c1a3;
  border-radius: 10px;
}

.stock__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 10px solid #f8c1a3;
  border-radius: 10px;
  width: 60%;
  height: 70%;
}

.login__title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #f8c1a3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__input {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 300px;
  border: none;
  border-bottom: 2px solid gray;
}

.login__button {
  padding: 10px 20px;
  background-color: #f8c1a3;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 300px;
  margin-bottom: 15px;
}

.login__guest-button {
  padding: 10px 20px;
  background-color: #f8c1a3;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 10px;
}

.login__logo {
  height: 75px;
  width: 75px;
  margin-right: 20px;
}

.search__logo {
  height: 100px;
  width: 100px;
  padding: 0;
  align-items: center;
  margin-right: 20px;
}

.search__field {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.rocket {
  color: white;
  height: 25px;
}

.header__wrapper {
  background-color: black;
  margin: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.header__logo {
  margin-left: 48px;
}

.header__search {
  display: flex;
  align-items: center;
  background-color: black;
  height: 39px;
  padding: 10px;
}

.header__searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
  border: 1px solid #31363A;
  padding: 5px;
  border-radius: 4px;
}

.header__searchContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.header__searchContainer > input {
  border: none;
  width: 375px;
  margin-left: 5px;
  margin-right: 10px;
  background-color: black;
  color: white;
}

.header__searchContainer > input:focus {
  outline: none;
}

.header__menuItems {
  display: flex;
  align-items: center;
  gap: 1rem; /* Ensures consistent spacing between items */
}

.header__menuItems a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.header__menuItems a:hover {
  color: #f8c1a3;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.header__menuItems a:active {
  color: #f8c1a3;
}

.stock__emoji {
  height: 30px;
}

.google__button {
  display: flex;
  margin-top: 30px;
}

.watchlist__list-item {
  color: white;
}

.login__signup {
  color: white;
  margin-bottom: 10px;
  margin-top: -10px;
}

.watchlist__title {
  color: white;
}

.buy__shares {
  margin-top: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.ticker {
  padding: 5rem;
  justify-content: absolute;
  height: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.searchBtn {
  background-color: #f8c1a3;
  font-family: poppins;
  cursor: pointer;
}

.stockInput {
  border-radius: 4px;
}

.sign__up {
  color: white;
  margin-top: -10px;
  margin-bottom: 30px;
}

.buy-shares {
  color: #f8c1a3;
}

.sign__up-text {
  color: white;
}

.news__title {
  color: #f8c1a3;
  text-align: center;
}

.reset__button {
  padding: 10px 20px;
  background-color: #f8c1a3;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  margin-bottom: 15px;
}
